* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: rgb(1, 10, 1)
  // background: linear-gradient(black, rgb(26, 7, 26), rgb(31, 4, 4));
  background-image: url(../images/5.png);
  // background-size: 40%;
}
.headerMovies {
  margin-top: 20px;
  color: rgb(104, 7, 7);
  border-bottom: 2px solid rgb(104, 7, 7);
  margin-bottom: 30px;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-size: cover;
  @media screen and (max-width: 420px) {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    justify-content: center;
    
  }
  .mybrand{
    background-color: black;
    color: rgb(104, 7, 7);
    color: gray;
    padding: 5px;
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid;   
    text-align: right;
    width: fit-content;  
    @media screen and (max-width: 420px) {
      margin-left: auto;
      margin-right: auto;
      
    }
    .icons{
      color: gray;
      margin-inline: 5px;
    }
  }
  .titleHeaderMovies {
    background-color: black;
    border: 3px solid rgb(104, 7, 7);
    outline: 5px solid black;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
  }
  
}

.ulMovies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  

  .liMovies {
    border: 2px solid rgb(104, 7, 7);
    width: 180px; 
    background-color: black;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    &:hover {     
      background-color: rgb(104, 7, 7);
      .phraseMovies{
        color: black;
      }
      .nameDiv{
        color: yellow;
      }
    }
    @media screen and (max-width: 420px) {
      margin: 15px;
      width: 120px;
    }
    .imgListMovies {
      width: 70%;
      border-radius: 10px;
      padding: 5px;
    }
    .nameDiv {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: green;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
    .phraseMovies {
      color: rgb(194, 150, 150);
      flex-grow: 1;
      display: flex;
      justify-content: center;
      font-weight: bold;
      padding-block: 10px;    
    }
  }
  .linkMovie {
    text-decoration: none;
    
  }
}

.divForm {
  text-align: center;
  color: rgb(104, 7, 7);
  border: 1px solid;
  border-inline: 0px solid;
  align-items: center;
  @media screen and (max-width: 420px) {
    display: flex;
   flex-direction: column;
  }
  .pForm{
    padding: 5px;
    background-color: black;
    width: fit-content;
    margin: auto;
    border: 1px solid;
    margin-block: 15px;
  }
  

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
    }

    .inputContainer {
      margin-right: 20px;
      font-weight: bold;
      border: 1px solid rgb(104, 7, 7);
      padding: 10px;
      margin-bottom: 20px;
      background-color: black;
    }
    
    .inputContainer input,
    select {
      border: 1px solid rgb(104, 7, 7);
      margin-inline: 10px;
    }
  }
}

.detailDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 20px;
  padding-block: 10px;
  width: 500px;
  height: 400px;  
  background-color: rgba(128, 128, 128, 0.2);
  // background-color: rgb(111, 111, 148);
  border: 5px solid rgb(104, 7, 7);
  margin: 0 auto;
  align-items: center;
  @media screen and (max-width: 420px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .detailImg {
    height: 300px;
    @media screen and (max-width: 420px) {
      margin: 0 auto;
    }
  }
  .detailSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .detailNameDiv {
      color: white;
      font-size: 40px;
      @media screen and (max-width: 420px) {
        font-size: 30px;
      }
    }
    .detailAudio {
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .detailDirector {
      font-size: 25px;
      color: darkslategrey;
      @media screen and (max-width: 420px) {
        font-size: 20px;        
      }
    }
    .detailPhrase {
      font-size: 25px;
      color: darkslategray;
      font-weight: bold;
      @media screen and (max-width: 420px) {
        font-size: 20px;
      }
    }
    .detailBack {
      // color: black;
      color: rgb(104, 7, 7);
      text-decoration: none;
      background-color: black;
      // width: fit-content;
    }
  }
}

.mensajeMovies {
  color: rgb(10, 43, 10);
  text-align: center;
  margin: 200px;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(243, 213, 213);
  @media screen and (max-width: 420px) {
    font-size: 12px;
    margin: 50px;
  }
}
