* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: rgb(1, 10, 1)
  // background: linear-gradient(black, rgb(26, 7, 26), rgb(31, 4, 4));
  background-image: url(../images/5.png);
  // background-size: 40%;
}
.headerMovies {
  margin-top: 20px;
  color: rgb(111, 111, 148);
  border-bottom: 2px solid rgb(104, 7, 7);
  margin-bottom: 30px;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  padding-top: 60px;
  background-size: cover;
  .titleHeaderMovies {
    background-color: black;
    width: fit-content;
    margin: 0 auto;
  }
}

.ulMovies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  .liMovies {
    border: 2px solid rgb(104, 7, 7);
    width: 220px;
    // background-color: rgb(49, 14, 70);
    // background-color: rgb(94, 48, 94);
    // background-color: rgb(10, 37, 10);
    background-color: black;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    @media screen and (max-width: 420px) {
      margin: 15px;
    }
    .imgListMovies {
      width: 95%;
      border-radius: 10px;
      padding: 5px;
    }
    .nameDiv {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: green;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
    .phraseMovies {
      color: rgb(194, 150, 150);
      flex-grow: 1;
      display: flex;
      justify-content: center;
      font-weight: bold;
      padding-block: 10px;
    }
  }
  .linkMovie {
    text-decoration: none;
  }
}

.divForm {
  text-align: center;
  color: rgb(104, 7, 7);

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      margin-bottom: 10px;
    }

    .inputContainer {
      margin-right: 20px;
      font-weight: bold;
      border: 1px solid rgb(104, 7, 7);
      padding: 10px;
      margin-bottom: 20px;
      background-color: black;
    }
    
    .inputContainer input,
    select {
      border: 1px solid rgb(104, 7, 7);
      margin-inline: 10px;
    }
  }
}

.detailDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 20px;
  padding-block: 10px;
  width: 500px;
  height: 400px;
  // background-color: rgb(94, 48, 94);
  background-color: rgb(111, 111, 148);
  border: 5px solid rgb(104, 7, 7);
  margin: 0 auto;
  align-items: center;
  @media screen and (max-width: 420px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .detailImg {
    height: 380px;
    @media screen and (max-width: 420px) {
      margin: 0 auto;
    }
  }
  .detailSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .detailNameDiv {
      color: white;
      font-size: 40px;
      @media screen and (max-width: 420px) {
        font-size: 30px;
      }
    }
    .detailAudio {
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .detailDirector {
      font-size: 25px;
      color: darkslategrey;
      @media screen and (max-width: 420px) {
        font-size: 20px;        
      }
    }
    .detailPhrase {
      font-size: 25px;
      color: darkslategray;
      font-weight: bold;
      @media screen and (max-width: 420px) {
        font-size: 20px;
      }
    }
    .detailBack {
      color: black;
      text-decoration: none;
    }
  }
}

.mensajeMovies {
  color: rgb(10, 43, 10);
  text-align: center;
  margin: 200px;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(243, 213, 213);
  @media screen and (max-width: 420px) {
    font-size: 12px;
    margin: 50px;
  }
}
